.App {
  text-align: center;
}
.img-container {
  margin-left: 200px;
  margin-right: 100px;
}
 .img-table {
  display: inline-table;
}

img {
  height: 250px;
  width: 250px;
  margin: 15px;
  border-radius: 25px;
  border: 2px white solid;
}

.wrapper {
  background: url('/images/titanbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}